<!DOCTYPE html>
<html lang="en">

<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Page Title</title>
    <script src="https://kit.fontawesome.com/c6eab4491b.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/favicon.ico">
    <link rel="canonical" href="https://mysite.com/mypage">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-xl" id="nav">
        <!--tips: to change the nav placement use .fixed-top,.fixed-bottom,.sticky-top-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#idCollapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="images/logo.png" alt="" width="100" height="80">
        </a>
        <div class="collapse navbar-collapse" id="idCollapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">TRANG CHỦ<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown" id="dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        THỜI TRANG NAM
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Quần nam</a>
                        <a class="dropdown-item" href="#">Áo nam</a>
                        <a class="dropdown-item" href="#">Giày dép</a>
                        <a class="dropdown-item" href="#">Phụ kiện</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Hàng khuyến mại</a>
                    </div>
                </li>

                <li class="nav-item" style="float: left;">
                    <a class="nav-link text-white" href="#">GIỎ HÀNG</a>
                </li>

                <li class="nav-item" style="float: right;">
                    <a class="nav-link text-white" href="#">GIỚI THIỆU</a>
                </li>

            </ul>
        </div>
        <div class="right-nav">
            <a href="#"><i class="fas fa-shopping-cart" id="icon"></i></a>
            <a href="#"><i class="fas fa-user" id="icon"></i></a>
            <input type="text" placeholder="Tìm kiếm" class="search">
            <button type="submit" style="border-radius: 10px; height: 30px;width: 40px; border: none;"><i class="fas fa-search" id="icon-search"></i></button>
        </div>
    </nav>
    <br>
<div id="content" style="overflow: hidden;">
    <div class="col-lg-9" id="boxleft" style="overflow: hidden; float:left">
        <div class="row">
            <h1 class="detail-title">Chi tiết sản phẩm</h1>
        </div>
        <div class="row">
            <div class="col-lg-6" style="float: left">
                <img src="ao-so-mi-oxford-tay-ngan-asm017-mau-xanh_2_small-15391.png" alt="" width="450px"><br><br>
                <div class="trait" style="margin-left:40px ;">
                <h5 class="detail-title">Đặc điểm nổi bật:</h5>
                <p></p>
            </div>
            </div>
            <div class="col-lg-6" style="float: right;overflow:hidden">
                <h4 class="detail-title">TÊN SP</h4>
                <hr>
                <h2 class="detail-title">Giá sp</h2>
                <div class="box" style="width: 100px; height: 28px; background-color: red; color: white; text-align: center; border-radius: 5px;">
                    Giá giảm
                </div> <br>
                <div class="box1" style="width: 35px; height: 23px; background-color: #1Fb349; color: white; text-align: center; border-radius: 5px; font-size: small;">
                    Mới
                </div>
                <br>
                <button style="width: 100%; border-radius:5px; background-color: #FD4522; border: white; color: white" id="btn-buynow">
                    <span style="font-weight: bold">MUA NGAY</span>
                    <br>Giao hàng tận nơi
                </button>
                <BR></BR>
                <button style="width: 48%;height: 40px; border-radius:5px; background-color: white; border:1px solid #FD4522; color: #FD4522" id="btn-1">
                    <span style="font-weight: bold">THÊM VÀO GIỎ HÀNG</span>
                </button>
                <button style="width: 48%;height: 40px; border-radius:5px; background-color: white; border: 1px solid #FD4522; color: #FD4522; float: right;" id="btn-1">
                    <span style="font-weight: bold">MUA TRẢ GÓP</span>
                </button>
            </div>
        </div>
        <div class="row" style="margin-left:5px ;">
            <h4 class="detail-title">Sản phẩm cùng loại</h4>
            <div class="col-lg-12">
                <br><li><a href=" linksanphamcungloai ">Tên sp cùng loại</a></li>
            </div>
        </div>
        <br>
        <div class="row" id="binhluan" style="margin-left:5px ;">
            <h4 class="detail-title">Bình luận</h4>
        </div>
    </div>


    <div class="row" id="boxright">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Danh mục
            </div>
            <ul class="list-group list-group-flush">
                <!-- <li class="list-group-item"><a href="#">Điện thoại</a></li>
                        <li class="list-group-item"><a href="#">Điện thoại</a></li>
                        <li class="list-group-item"><a href="#">Điện thoại</a></li> -->
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" action="index.php" method="post">
            <input type="text" style="Width:208px">
            <input type="submit" value="Tìm kiếm">
        </form>
    </div>
    <br>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Top 10 yêu thích
            </div>
            <ul class="list-group list-group-flush">
                <!-- <li class="list-group-item"><a href="#">Điện thoại</a></li>
                        <li class="list-group-item"><a href="#">Điện thoại</a></li>
                        <li class="list-group-item"><a href="#">Điện thoại</a></li> -->
            </ul>
        </div>
    </div>
</div>
<hr>
    <div class="Footer">
        <div class="col-lg-3" style="float: left; font-size: 16px;">
            <h4 class="footer-title">HỆ THỐNG CỬA HÀNG</h4>
            <a href="#" class="ft-content">27 Chùa Bộc, Đống Đa, HN</a> <br>
            <a href="#" class="ft-content">242 Thái Hà, Đống Đa, HN</a> <br>
            <a href="#" class="ft-content">63 Đại Cổ Việt, Hai Bà Trưng, HN</a> <br>
            <a href="#" class="ft-content">20 Dương Quảng Hàm, Cầu Giấy, HN</a> <br>
            <a href="#" class="ft-content">346 Cầu Giấy, Cầu Giấy, HN</a> <br>
            <a href="#" class="ft-content">116 Hồ Tùng Mậu, Cầu Giấy, HN</a>
        </div>

        <div class="col-lg-3" style="float: left; font-size: 16px;">
            <H4 class="footer-title">HỖ TRỢ KHÁCH HÀNG</H4>
            <a href="#" class="ft-content">Hướng Dẫn Mua Hàng</a> <br>
            <a href="#" class="ft-content">Hình Thức Thanh Toán</a> <br>
            <a href="#" class="ft-content">Quy Định Về Bảo Mật Thông Tin</a> <br>
            <a href="#" class="ft-content">Chính Sách Bảo Hành</a> <br>
            <a href="#" class="ft-content">Chính Sách Đổi Hàng</a> <br>
            <a href="#" class="ft-content">Chính Sách Vận Chuyển</a> <br>
            <a href="#" class="ft-content">Điều khoản dịch vụ</a> <br>
            <a href="#" class="ft-content">Giới thiệu</a> <br>
        </div>

        <div class="col-lg-3" style="float: left; font-size: 16px;">
            <div class="register">
                <h4 class="footer-title">THEO DÕI CHÚNG TÔI</h4>
                <input type="email" placeholder="Nhập email"
                    style=" height: 30px; font-size: smaller; border-radius: 3px;"> <button
                    type="submit"
                    style="background-color:rgb(69, 68, 68); color: white; font-size: smaller; border-radius: 3px; height: 30px;">Đăng
                    ký</button>
            </div> <br> <br>
            <div class="social">
                <h5>KẾT NỐI VỚI CHÚNG TÔI TẠI</h5>
                <a href="#" class="iconft"><i class="fab fa-facebook"></i></a>
                <a href="#" class="iconft"><i class="fab fa-instagram"></i></a>
                <a href="#" class="iconft"><i class="fab fa-pinterest"></i></a>
                <a href="#" class="iconft"><i class="fab fa-twitter"></i></a>
                <a href="#" class="iconft"> <i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3" style="float: left;">
        <br>
        <p><b>Tư vấn mua hàng miễn phí:</b></p>
        <p style="color: red;"><b>1800 1234 (Nhánh 1)</b></p>
        <p><b>Hỗ trợ kỹ thuật:</b></p>
        <p style="color: red;"><b>1800 1234 (Nhánh 2)</b></p>

        <p><b>Hỗ trợ thanh toán:</b></p>
        <p>
            <i class="fab fa-cc-visa fa-2xl"></i>
            <i class="fab fa-cc-mastercard fa-2xl"></i>
            <i class="fab fa-apple-pay fa-2xl"></i>
            <i class="fab fa-google-pay fa-2xl"></i>
        </p>
    </div>
    <!--Optional JavaScript-->
    <!--jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>