<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Page Title</title>
    <script src="https://kit.fontawesome.com/c6eab4491b.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/favicon.ico">
    <link rel="canonical" href="https://mysite.com/mypage">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
  
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <p>Quản lý trang web</p>  
  <a href="qldm.html">Quản lý danh mục</a>
  <a href="qldh.html">Quản lý đơn hàng</a>
  <a href="qlkh.html">Quản lý kho hàng</a>
  <a href="qlbl.html">Quản lý bình luận</a>
  <a href="qlhd.html">Quản lý hóa đơn</a>
  <a href="qlnd.html">Quản lý người dùng</a>
  <a href="tk.html">Thống kê</a>
</div>
<div class="p-3 mb-2 bg-danger text-white" style="max-height: 100px;">
  <div id="main" style="margin-bottom: 35px;">
    <span style="font-size:30px;cursor:pointer;overflow: hidden; float: left;margin-right: 30px;" onclick="openNav()">&#9776; </span>
    <h3>Quản lý đơn hàng</h3>
  </div>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "300px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}
</script>
   
</body>
</html> 
