*{
    margin: 0 auto;
    max-width: 1500px;
}
.topbanner>img{
    width: 100%;
}
#idCollapse{
    margin-left: 50px;
}
.navbar-brand{
    margin-right: 0px;
    width: 100px;
}
.nav-item {
    margin: 0px 20px 0px 20px;
}
.navbar-brand>img{
    width: 200px;
}
#nav{
    background-image: linear-gradient(white, wheat)
}
.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
    /*remove the gap so it doesn't close*/
}

.dropdown-item {
    color: #FB685C;
}

.dropdown-item:hover {
    color: #FB685C;
    background-color: #d9d9d9;
}
.container{
    width: 100%;
}
#mainimg{
    width: 100%;
    float: left;
}
.title{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.namepro{
    text-align: center;
    color: red;
}
.row{
    text-align: center;
}